{% extends "cert/base.html" %}
{% load static %}
{% block header %}
<link href="{% static 'css/cert-detail.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thông tin chứng chỉ</h1>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered"  width="100%" cellspacing="0">
                <tbody>
                    <tr>
                        <th class="align-middle">Tên chứng chỉ</th>
                        <th class="align-middle">{{ cert_header.subject_name }}</th>
                    </tr>
                    <tr>
                        <th class="align-middle">Mã giảng viên phụ trách</th>
                        <th class="align-middle">{{ cert_header.teacher.user_code }}</th>
                    </tr>
                    <tr>
                        <th class="align-middle">Tên giảng viên phụ trách</th>
                        <th class="align-middle">{{ cert_header.teacher.full_name }}</th>
                    </tr>
                    <tr>
                        <th class="align-middle">Logo</th>
                        <th class="align-middle"><img class="logo-img" src="{{ cert_header.logo_image.url }}" alt=""></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-flex align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách chứng chỉ</h6>
                    <button class="btn btn-success btn-round ml-auto" data-toggle="modal" data-target="#addRowCertModal">
                        <i class="fa fa-plus"></i>
                        Tạo Mới Chứng Chỉ
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="certTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="align-middle">Mã sinh viên</th>
                                <th>Họ họ và tên sinh viên</th>
                                <th>Điểm</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cert in cert_list %}
                                <tr>
                                    <th class="align-middle">{{ cert.cert_data.student_code }}</th>
                                    <th class="align-middle">{{ cert.cert_data.student_name }}</th>
                                    {% if cert.cert_data.type ==  "mark" %}
                                    <th class="align-middle">{{ cert.cert_data.mark }}</th>
                                    {% else %}
                                    <th></th>
                                    {% endif %}
                                    {% if cert.is_signed == True %}
                                    <th class="text-center">
                                        <a href="" class="btn btn-success btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span class="text">Đã Ký</span>
                                        </a>
                                    </th>
                                    {% else %}
                                    <th class="text-center">
                                        <a href="" class="btn btn-warning btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </span>
                                            <span class="text">Chưa Ký</span>
                                        </a>
                                    </th>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Cert -->
<div class="modal fade" id="addRowCertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Teacher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST"  action="{% url 'cert_app:add_cert' cert_header.id %}" enctype="multipart/form-data">
                <div class="modal-body">
                    
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="defaultSelect">Chọn sinh viên</label>
                            <select class="form-control form-control" id="defaultSelect" name="student_id">
                                <option selected>Chọn sinh viên</option>
                                {% for student in student_list %}
                                    <option value="{{ student.id }}">{{ student.user_code }} - {{ student.full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="largeInput">Điểm thi</label>
                            <input type="checkbox" class="form-control form-control" id="disableToggle" onclick="toggleInput(this)" checked>
                        </div>
                        <div class="form-group">
                            <label for="largeInput">Điểm</label>
                            <input type="text" class="form-control form-control" id="mark" placeholder="Điểm Đạt Được" name="mark">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <div class="form-group">
                        <button type="submit" class="form-control form-control btn btn-primary">Thêm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function() {
  $('#certTable').DataTable();
});
</script>

<script>
    function toggleInput(checkbox) {
        var input = document.getElementById('mark');
        if (checkbox.checked) {
                enableInput(input);
            } else {
                disableInput(input);
            }
    }

            // Function to enable the input
    function enableInput(input) {
            input.disabled = false;
    }

        // Function to disable the input
        function disableInput(input) {
            input.disabled = true;
    }
</script>

{% endblock %}