{% extends "cert/base.html" %}
{% load static %}
{% block header %}

{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">TRANG QUẢN LÝ CỦA GIÁO VIÊN</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-flex align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách chứng chỉ chưa ký</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered justify-content-center" id="certTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên chứng chỉ</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cert in cert_headers %}
                                <tr>
                                    <th class="align-middle">{{ cert.subject_name }}</th>
                                    <th class="align-middle">
                                    <center>
                                        <a href="{% url 'cert_app:teacher_cert_detail' cert.id %}" class="btn btn-warning btn-circle">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </a>
                                    </center>
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-flex align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách chứng chỉ đã ký</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered justify-content-center" id="certTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên chứng chỉ</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cert in signed_cert_header %}
                                <tr>
                                    <th class="align-middle">{{ cert.subject_name }}</th>
                                    <th class="align-middle">
                                    <center>
                                        <a href="{% url 'cert_app:teacher_cert_detail' cert.id %}" class="btn btn-success btn-circle">
                                            <i class="fas fa-check"></i>
                                        </a>
                                    </center>
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Alert -->
<div class="modal fade" id="teacherAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cảnh Báo Bảo Mật</h5>
            </div>
            <div class="modal-body">
                <h3>Giảng viên vui lòng đăng nhập vào App sau đó chuyển MÃ KHÓA của mình về điện thoại để đảm bảo tính bảo mật!!</h3>
                <a href="/" class="btn btn-primary">Đã thực hiện</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function() {
  $('#certTable').DataTable();
});
</script>
    
<script>
    $(document).ready(function() {
        $('#certTable').DataTable();
    });

    // Ensure the alert variable is converted to a JavaScript boolean
    var alert = "{{ alert }}";
    console.log(alert);
    if (alert === "True") {
        $(document).ready(function () {
            $("#teacherAlert").modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#teacherAlert").modal('show');
        });
    }
</script>

{% endblock %}