{% extends "cert/base.html" %}
{% load static %}
{% block header %}

{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Teacher Home Page</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-flex align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Chứng Chỉ Chưa Ký</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered justify-content-center" id="certTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên Chứng Chỉ</th>
                                <th>Trạng Thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cert in cert_headers %}
                                <tr>
                                    <th class="align-middle">{{ cert.subject_name }}</th>
                                    <th class="align-middle">
                                    <center>
                                        <a href="{% url 'cert_app:teacher_cert_detail' cert.id %}" class="btn btn-warning btn-circle">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </a>
                                    </center>
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-flex align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Chứng Chỉ Đã Ký</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered justify-content-center" id="certTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên Chứng Chỉ</th>
                                <th>Trạng Thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cert in signed_cert_header %}
                                <tr>
                                    <th class="align-middle">{{ cert.subject_name }}</th>
                                    <th class="align-middle">
                                    <center>
                                        <a href="{% url 'cert_app:teacher_cert_detail' cert.id %}" class="btn btn-success btn-circle">
                                            <i class="fas fa-check"></i>
                                        </a>
                                    </center>
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function() {
  $('#certTable').DataTable();
});
</script>

{% endblock %}